* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(to right, black, rgba(28, 28, 97, 0.838), black);
}

h1 {
    text-align: center;
    margin: 15px;
    color: white;
    text-shadow: 28px 30px 36px 3px rgba(0,0,0,0.83);
}

form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 28px 30px 36px 3px rgba(0,0,0,0.83);
    -moz-box-shadow: 28px 30px 36px 3px rgba(0,0,0,0.83);
    box-shadow: 28px 30px 36px 3px rgba(0,0,0,0.83);
    border-radius: 10px;
}

label {
    display: inline-block;
    width: 100px;
    margin: 10px;
}

input {
    width: auto;
    margin: 0px 20px;
}

button {
    margin-top: 10px;
}

#showdata {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}