* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    margin: 15px;
}

form {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

label {
    display: inline-block;
    width: 100px;
    margin: 10px;
}

input {
    width: auto;
    margin: 0px 20px;
}

button {
    margin-top: 10px;
}

#showdata {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}